body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    display: flex;
    /* Ensure the body uses flexbox */
}

.dashboard {
    display: flex;
    height: 100vh;
    /* Full viewport height */
    width: 100%;
}

.sidebar {
    position: fixed;
    /* Fixed position for sticking to the left */
    top: 0;
    left: 0;
    width: 250px;
    background-color: #2d2d2d;
    padding: 20px;
    height: 100vh;
    color: #f7b329;
    /* Yellow */
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    /* Slight shadow for separation */
}

.sidebar-brand {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #ed7a2a;
    /* Orange */
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    flex-grow: 1;
    /* Ensure the nav grows */
}

.sidebar-nav li {
    margin: 10px 0;
    cursor: pointer;
    color: #f7b329;
    /* Yellow */
}

.sidebar-nav li:hover {
    color: #049ebf;
    /* Blue */
}

.dashboard-content {
    margin-left: 300px;
    /* Push content to the right to accommodate fixed sidebar */
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    max-width: calc(100vw-200px);
    box-sizing: border-box;
    /* Include padding in height */
}

.top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.funding-streams {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.funding-info-box {
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    width: 200px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.chart-container {
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.metrics-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.project-list {
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.project-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-list li {
    padding: 15px;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
}

.project-title {
    margin: 0;
    color: #f7b329;
    /* Yellow */
    font-weight: bold;
}

.project-description {
    margin: 5px 0 0;
    color: #787878;
    /* Grey */
}

.calendar-section {
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 8px;
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}